body {
    background-color: black;
}

.container {
    margin-top: 20px;
}

.forest-background {
    height: 60vh;
    background-image: url("../images/dark_forest.jpg");
    background-size: cover;
}

.console {
    height: 15vh;
    width: 100%;
    overflow: auto;
    /*overflow-y: scroll;*/
    /*overflow: hidden;*/
    resize: none;
    border: 0px;
    background-color: black;
    color: #95a5a5;
}

#console {
    margin: 0px;
}

#userInput {
    padding: 0px;
    border: 1px;
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
}

input:focus {
    outline: 0;
}